.app-layout {
  .app-header {
    padding: 16px 12px;
    background-color: antiquewhite;

    nav {
      display: flex;
      column-gap: 10px;

      .nav-link.active {
        color: #f60;
      }
    }
  }

  .app-body {
    height: calc(100% - 32px);
    padding: 8px 12px;
  }
}
